:root {
    --primary-color: #02aba7;
    --accent-color: #fe8508;
    --gray-color: #f5f5f5;
    --footer-bg-color: #595959;
    --footer-color: white;
    --white-bg-color: white;
    --gray-border-color: #e1e1e1;
    --radio-color: #107bc7;
    --green-text-color: #4db6ac;
    --card-border-radius: 7px;
    --bg-font-size: 1.5rem;
    --md-font-size: 1rem;
    --sm-font-size: .75rem;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    max-width: 1000px;
}

nav > div {
    padding: 15px 0;
    align-items: center;
}

.phoneBlock {
    font-weight: 600;
    line-height: 1.5rem;
    font-size: var(--bg-font-size);
}

.phoneBlock a {
    color: var(--primary-color);
    transition: all .2s;
}

.phoneBlock a:hover {
    color: var(--accent-color);
    text-decoration: none;
}

.phoneBlock * {
    cursor: pointer;
    transition: all .2s;
}

.phoneBlock span {
    margin-left: 15px;
    border-left: 1px solid var(--gray-color);
    font-size: var(--md-font-size);
}

.phoneBlock i.far {
    color: var(--accent-color);
    margin: 0 10px;
    font-size: var(--bg-font-size);
}

.phoneBlock span:hover {
    color: var(--accent-color);
}

.phoneBlock span:hover i.far {
    transform: scale(1.2);
}

.content {
    flex: 1 0 auto;
    background-color: var(--gray-color);
}

.breadcrumbs {
    position: relative;
    margin: 20px 20px 75px;
    z-index: 1;
}

.breadcrumbs li {
    position: relative;
    padding: 10px 30px;
    padding-right: 5px;
    border: 1px solid var(--gray-border-color);
    border-right: none;
    border-left: none;
    line-height: 1;
    margin: 0 10px;
    background-color: var(--white-bg-color);
}

.breadcrumbs li::after, .breadcrumbs li::before{
    content: "";
    position: absolute;
    background: transparent;
    top: 50%;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    border-radius: 5px;
    border-right: 1px solid var(--gray-border-color);
    border-top: 1px solid var(--gray-border-color);
}

.breadcrumbs li::after{
    height: 31px;
    margin-top: -16px;
    right: -15px;
    width: 31px;
    background: linear-gradient(225deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgba(9,9,121,0) 52%, rgba(0,212,255,0) 100%);

}

.breadcrumbs li::before{
    height: 29px;
    margin-top: -15px;
    left: -13px;
    width: 29px;
    border-radius: 0;
    background: linear-gradient(225deg, rgb(245, 245, 245) 0%, rgb(245, 245, 245) 50%, rgba(9,9,121,0) 52%, rgba(0,212,255,0) 100%);
}

.breadcrumbs li:last-child::after, .breadcrumbs li:first-child::before{
    content: none;
}

.breadcrumbs li:first-child {
    border-left: 1px solid var(--gray-border-color);
    padding-left: 15px;
    border-radius: 5px 0 0 5px;
}

.breadcrumbs li:last-child {
    border-right: 1px solid var(--gray-border-color);
    padding-right: 25px;
    border-radius: 0 5px 5px 0;

}

.breadcrumbs li i {
    margin-right: 10px;
}

.breadcrumbs .pass i {
    color: var(--green-text-color);
}

.breadcrumbs .active {
    color: var(--primary-color);
    border-color: var(--primary-color);
    border-width: 2px;
}

.breadcrumbs .active::before, .breadcrumbs .active::after {
    border-color: var(--primary-color);
    border-width: 2px;
}

.planSelect {
    font-size: var(--bg-font-size);
}

.planSelect h4 {
    position: relative;
    width: fit-content;
    margin: auto;
    text-align: center;
}

.planSelect h4 small{
    position: absolute;
    right: -2.5rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-style: italic;
    font-size: .75rem;
    color: var(--gray-color);
    background-color: var(--footer-bg-color);
    opacity: .5;
    cursor: pointer;
    transition: all .2s;
}

.planSelect h4 small p {
    display: block;
    width: 150px;
    position: absolute;
    right: -150px;
    top: 20px;
    background-color: var(--footer-bg-color);
    border-radius: 0 var(--card-border-radius) var(--card-border-radius) var(--card-border-radius);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
}

.planSelect h4 small p::before {
    content: '';
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0px 10px 10px 0;
    border-color: transparent #595959 transparent transparent;
}

.planSelect h4 small:hover, .planSelect h4 small:hover p {
    opacity: 1;
}

.planList {
    position: relative;
    margin-top: 110px;
    margin-bottom: 65px;
    z-index: 1;
}

.planItem {
    position: relative;
    width: 240px;
    padding: 0 5px;
    margin: 0 2px;
    border-radius: 7px;
    border-color: var(--gray-border-color);
    background-color: var(--gray-color);
    text-align: center;
    transition: all .2s;
}

.planItem.mostPopular::after {
    content: 'most popular';
    position: absolute;
    width: 100%;
    left: 0;
    top: -45px;
    padding: 10px 0 20px;
    font-size: var(--md-font-size);
    text-transform: uppercase;
    color: var(--white-bg-color);
    background-color: var(--accent-color);
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
    z-index: -1;
}

.planItem:hover, .planItem.active {
    background-color: var(--white-bg-color);
}

.planItem .card-body.nameBlock{
    min-height: 65px;
    z-index: 1;
}

.planItem .card-body.descBlock{
    min-height: 230px;
    padding: 15px;
}

.planItem .card-body.priceBlock{
    min-height: 90px;
    padding: 10px;
}

.planItem .card-body:last-child{
    min-height: 145px;
}

.planItem .card-title {
    margin: 5px auto;
    font-size: var(--bg-font-size);
    font-weight: 600;
}

.planItem .card-body {
    border-bottom: 1px solid var(--gray-border-color);
}

.descBlock ul{
    font-size: var(--sm-font-size);
    text-align: left;
    list-style: none;
    padding-left: 10px;
}

.descBlock ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--accent-color); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.priceBlock span {
    font-size: var(--md-font-size);
    line-height: 1;
}

.priceBlock span:first-child {
    font-weight: 600;
}

.planItem .card-body:last-child label {
    text-decoration: underline;
    font-size: var(--md-font-size);
    color: var(--footer-bg-color);
    transition: all .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0;
}

.planItem .card-body:last-child label:hover {
    color: var(--accent-color);
}

input[type=radio]{
  visibility: hidden;
  position: absolute;
}

input[type=radio] + label:before{
    content: " ";
    display:block;
    height:20px;
    width:20px;
    margin-bottom: 10px;
    background:var(--white-bg-color);
    box-shadow: inset 0 0 0 3px white;
    border: 1px solid var(--radio-color);
    border-radius:50%;
    transition: all .3s;
}

input[type=radio]:checked + label:before{
    background:var(--radio-color);
}

.popularButton {
    background-color: var(--accent-color);
    border-radius: 3px;
    padding: 10px 40px;
    font-size: var(--md-font-size);
    color: var(--white-bg-color);
    border: none;
    line-height: 1;
    transition: all .2s;
}

.popularButton:hover {
    background-color: var(--primary-color);
}

.popularButton:focus{
    outline: none;
}

footer {
    flex-shrink: 0;
    padding: 30px 0 20px 0;
    background-color: var(--footer-bg-color);
    color: var(--footer-color);
}

.footerList {
    margin-top: 15px;
    border-top: 2px solid var(--gray-color);
}

.footerList ul {
    max-width: 250px;
    margin: 10px 10px 30px;
    font-size: var(--sm-font-size);
}

.footerList ul *{
    transition: all .2s;
    cursor: pointer;
}

.footerList ul li {
    display: flex;
}

pre {
    display: inline;
    color: var(--footer-color);
}

.card pre {
    color: var(--footer-bg-color);
}

.footerList ul li > i{
    height: fit-content;
    margin-top: .3rem;
    margin-right: 10px;
    background: linear-gradient(0deg, #b37745 25%, #ae9d76);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footerList ul li:hover {
    color: var(--accent-color);
}

.footerList ul li:hover i {
    transform: scale(1.2);
}

footer .row:first-child span {
    font-size: var(--bg-font-size);
}

footer .row:last-child span {
    font-size: var(--md-font-size);
}
